<title><%= page.title %></title>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">

<!-- untuk menyimpan bagian file yg statik dan di akses di setiap halaman -->
<link rel='stylesheet' href='/stylesheets/style.css' />

