<!DOCTYPE html>
<html>

<head>
    <!-- kita isi dengan component header -->
    <%- include('partials/header', page); -%>
</head>

<body>
    <!-- section navbar -->
    <%- include('partials/navbar'); -%>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>
                        <%= article.title %>
                    </h1>
                    <p>
                        <%= article.content %>
                    </p>
                </div>
            </div>

            <div class="row">
                <p>Artikel Terkait : </p>
                <% articles.forEach(function(data) { %>
                <% if(data.publish && data.title !== article.title) { %>
                    <div class="col-md-3">
                        <%- include('component/article', { article: data }); %>
                    </div>
                    <% } %>
                <% }); %>
            </div>

            <div class="row mt-5">
                <div class="col-md-12">
                    <%- include('partials/footer'); -%>
                </div>
            </div>
        </div>
</body>

</html>