<!DOCTYPE html>
<html>

<head>
    <!-- kita isi dengan component header -->
    <%- include('partials/header', page); -%>

</head>

<body>
    <!-- section navbar -->
    <%- include('partials/navbar'); -%>
        <div class="container">
            <div class="row">
                <!-- form Registration -->
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <form id="form-registration" class="mt-5">
                        <div class="mb-3">
                            <label for="formFullname" class="form-label">Full Name</label>
                            <input type="text" name="fullname" class="form-control" id="formFullname"
                                   placeholder="your name">
                        </div>
                        <div class="mb-3">
                            <label for="formEmail" class="form-label">Email</label>
                            <input type="email" name="email" class="form-control" id="formEmail"
                                   placeholder="name@example.com">
                        </div>
                        <div class="mb-3">
                            <label for="formPassword" class="form-label">Password</label>
                            <input type="password" name="password" class="form-control" id="formPassword"
                                   placeholder="your Password">
                        </div>
                        <div class="mb-3">
                            <label for="formPasswordConfirmation" class="form-label">Password Confirmation</label>
                            <input type="password" name="passwordConfirmation" class="form-control"
                                   id="formPasswordConfirmation" placeholder="password confirmation">
                        </div>
                        <div class="mb-3">
                            <button type="submit" class="btn btn-primary">Registrasi</button>
                        </div>
                    </form>
                </div>
                <div class="col-md-2"></div>
            </div>
            <div class="row mt-5">
                <div class="col-md-12">
                    <%- include('partials/footer'); -%>
                </div>
            </div>
        </div>
</body>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script>
    document.getElementById("form-registration").addEventListener("submit", function (event) {
        event.preventDefault();
        let fullname = event.target.elements.formFullname.value;
        let email = event.target.elements.formEmail.value;
        let password = event.target.elements.formPassword.value;
        let passwordConfirmation = event.target.elements.formPasswordConfirmation.value;

        if (password === passwordConfirmation) {
            let data = {
                fullname: fullname,
                email: email,
                password: password
            };

            fetch("/users/v2/registration", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify(data)
            })
                .then(function (response) {
                    return response.json();
                })
                .then(function (data) {
                    if (data.code === 1) {
                        Swal.fire(
                            {
                                icon: "success",
                                text: data.message,
                                confirmButtonText: 'Ok',
                            }
                        ).then((result) => {
                            if (result.isConfirmed) {
                                window.location.reload();
                            }
                        });
                    } else {
                        Swal.fire(
                            {
                                icon: "error",
                                text: data.message
                            }
                        );
                    }
                }).catch(err => {
                    alert(err.message);
                })
        } else {
            Swal.fire(
                {
                    icon: "error",
                    text: "Password Konfirmasi tidak sesuai!"
                }
            );

        }

    });
</script>

</html>