<div class="card mb-1">
    <div class="card-body">
        <h5 class="card-title">
            <%= article.title %>
        </h5>
        <h6 class="card-text">
            <%= article.author %>
        </h6>
        <p class="card-text">
            <%= article.content.substring(1, 100); %>...
        </p>
        <a href="/detail" class="btn btn-sm btn-primary">Read</a>
    </div>
</div>