body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.navbar-brand {
  font-weight: bold;
  font-size: 20px;
}

.nav-link {
  font-size: 16px;
  margin-right: 20px;
  text-decoration: none;
}

.nav-link:hover { 
  color: #1E90FF;
}
